DROP TRIGGER IF EXISTS update___entity_snake__s_updated_at ON __entity_snake__s;
DROP INDEX IF EXISTS idx___entity_snake__s_created_at;
DROP INDEX IF EXISTS idx___entity_snake__s_active;
DROP INDEX IF EXISTS idx___entity_snake__s_name;
DROP TABLE IF EXISTS __entity_snake__s;
